doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Metodologías  Agiles Para Proyectos

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-state='agile-image')
        h1 Metodologías Ágiles Para Proyectos
        h2 Mario Andrés Yepes C
        h3 CTO Dazzet
        h3 <a href="http://twitter.com/marioy47">@marioy47</a>

      section(data-bespoke-state='dazzet-image')
        h2 Quién?
        ul
          li 
          li Ingeniero Electrónico
          li Desarrollador
          li <a href="http://www.scrumalliance.org/certifications/practitioners/certified-scrummaster-(csm)"><img src="img/csm.png" /></a>
          li <a href="http://www.scrumalliance.org/certifications/practitioners/cspo-certification"><img src="img/cspo.png" /></a>

      section(data-bespoke-state="dazzet-image")
        h1 <a href="http://dazzet.co">dazzet.co</a>
        ul
          li <img src="img/DAZZET_LOGO.png" />
          li Marketing Digital
          li Estrategia 
          li Estadísticas 
          li Desarrollo 

      section
        h2 Tipos de Proyectos
        img(src='img/project_types.png' width=600)

      section(data-bespoke-state='agile-manifesto')
        h2 <a href="http://agilemanifesto.org/iso/es/">Manifiesto Ágil</a>
        ul
          li
          li Individuos e interacciones sobre procesos y herramientas
          li Software funcionando sobre documentación extensiva
          li Colaboración con el cliente sobre negociación contractual
          li Respuesta ante el cambio sobre seguir un plan

      section(data-bespoke-state='agile-manifesto')
        h2 Metodologías/Frameworks
        ul
          li
          li XP
          li Lean
          li TDD - BDD
          li Scrum

      section(data-bespoke-state='scrum-image')
        h2 Scrum
        h4 Framework
        h4 Iterativo
        h4 Incremental
        h4 Productos nuevos

      section(data-bespoke-state='scrum-image')
        h2 Sprint
        img(src='img/scrum_sprint1.png' width='100%')

      section(data-bespoke-state='manager-image')
        h2 Roles 
        ul
          li
            img(src='img/scrum_team.jpg' width='23%'  alt="Team(Equipo)")
            br 
            small Team
          li
            img(src='img/scrum_master.jpg'  width='23%'  alt='Scrum Master')
            br 
            small Scum Master
          li
            img(src='img/scrum_po.jpg' width='23%'  alt='Product Owner')
            br
            small Product Owner

      section.planning(data-bespoke-state='scrum-image')
        h2 Ceremonias
        ul
          li 
            img(src='img/ceremony_plan.jpg' width='40%' alt='Planning')
            span Planning
          li 
            img(src='img/ceremony_daily.jpg' width='40%' alt='Daily')
            span Daily
          li
            img(src='img/ceremony_review.jpg', width='40%' alt='Review')
            span Review
          li
            img(src='img/ceremony_retro.jpg' width='40%' alt='Retrospective') 
            span Retrospective

      section(data-bespoke-state='scrum-image')
        h2 Artefactos
          h3 Product Backlog
          img(src='img/tool_prodbacklog.png' width='80%')
      
      section(data-bespoke-state='scrum-image')
        h2 Artefactos
          h3 Sprint Backlog
          img(src='img/tool_sprintbacklog.jpg' width='80%')
      
      section(data-bespoke-state='scrum-image')
        h2 Artefactos
          h3 Increment
          img(src='img/tool_gift.jpg' width='80%')
      
      section(data-bespoke-state='scrum-image')
        h2 Artefactos
          h3 Burntdown Chart
          img(src='img/tool_burnt.png' width='80%')

      section
        h2 Estimación
        img(src='img/scrum_poker.png', width='40%')

      section(data-bespoke-state='scrum-image')
        h2 Sprint
        img(src='img/scrum_sprint2.png' width='100%')

      section(data-bespoke-state='agile-image')
        h1 Gracias
      

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
